@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
background-color: aliceblue;

  padding: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

.buttons {

background-image: ;
 border-radius: 50px;
cursor: pointer;


}

.buttons:hover {

  background-color: #ff0088;
}